/*
THEME NAME: Not Squares
THEME URI: http://gandrew.com
DESCRIPTION: Woop
VERSION: 0.1
AUTHOR: Gareth Andrew
AUTHOR Uri: http://gandrew.com
TAGS: woop
TEMPLATE: sandbox-notsquares
*/
@import url('http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css');

a{
  color: white;
  text-decoration: none;
}

a:hover{
 text-decoration: underline;
}

a:visited{
  color: white;
}

html{
 background-color: #000000;
}

body {
  background-color: #000000;
  background-image: url('images/background.jpg');
  background-attachment: fixed;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/logo.jpg');
  background-repeat: no-repeat;
  background-position: 300px 0px;
  background-attachment: fixed;
  width: 960px;
  position: relative;
}

h1#blog-title{
  display : none;
  /*
  font-size: 0pt;
  font-family: verdana;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  background-image: url('images/logo.jpg');
  width: 777px;
  height: 443px;
  opacity: .6; */
}

#blog-description{
  display : none;
}


.heder-image{
  display: none;
}

#footer{
  visibility: hidden;
  clear: both;
}

#access{
  display: none; /* Skip to content and about link */
}

.sidebar {
 display: block;
 width: 200px;
 padding-left: 10px;
 text-align: left;
 position: fixed;
 left: 1080px;
}

#primary.sidebar{
  top: 200px;
}

#secondary.sidebar{
 top: 400px;
}

#container {
  text-align: left;
  float: left;
  width: 690px;
  min-height: 800px;
  margin-top: 477px;
}

.navigation{
  font-size: 9pt;
  margin-bottom: 10px;
  overflow: hidden;
}

.nav-previous{
 float: left;
}

.nav-next{
 float: right;
}

.post{
  width: 660px;
  margin-bottom: 30px;
  background-color: rgba(0,0,0,0.65);
  opacity: .9;
}

.post .entry-title{
  font-family: verdana, helvetica, arial;
  font-size: 11pt;
  margin-bottom: 20px;
  background-color: rgba(30,30,30,0.8);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.post .entry-date{
  font-size: 8pt;
  margin-bottom: 20px;
}

.post .entry-meta{
  margin-top: 10px;
  font-size: 8pt;
}

.post .entry-content{
  margin-top: 10px;
}


.widget.lfe_widget{
  border: 1px solid white;
  overflow: hidden;
}

.lfe_widget h3{
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
}

.lfe_widget li.vevent{
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 9pt;
}

.lfe_widget .lastfm-profile{
  float: right;
  font-size: 9pt;
  margin-right: 5px;
}

.sidebar#secondary{
  font-size: 9pt;
}

.sidebar#secondary{
  font-size: 9pt;
}

.sidebar#secondary ul.xoxo > li{
  margin-top: 10px;
}

.sidebar#secondary ul.xoxo > li li{
  padding-left: 5px;
}


