/*
THEME NAME: Not Squares
THEME URI: http://gandrew.com
DESCRIPTION: Woop
VERSION: 0.1
AUTHOR: Gareth Andrew
AUTHOR Uri: http://gandrew.com
TAGS: woop
TEMPLATE: sandbox-notsquares
*/
@import url('http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css');
@import url('layout.css');

a{
  color: white;
  text-decoration: none;
}

a:hover{
 text-decoration: underline;
}

a:visited{
  color: white;
}

h1#blog-title{
  display : none;
  /*
  font-size: 0pt;
  font-family: verdana;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  background-image: url('images/logo.jpg');
  width: 777px;
  height: 443px;
  opacity: .6; */
}

#blog-description{
  display : none;
}

#access{
  display: none; /* Skip to content and about link */
}

.navigation{
  font-size: 9pt;
  margin-bottom: 10px;
  overflow: hidden;
}

.nav-previous{
 float: left;
}

.nav-next{
 float: right;
}

.post{
  width: 660px;
  margin-bottom: 30px;
 /* background-color: rgba(0,0,0,0.65);
  opacity: .9;*/
}

.post .entry-title{
  font-family: georgia;
  font-weight: bold;
  font-size: 17pt;
  margin-bottom: 20px;
/*  background-color: rgba(30,30,30,0.8); */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.post .entry-date{
  font-family: courier;
  font-size: 8pt;
  margin-bottom: 20px;
}

.post .entry-meta{
  margin-top: 10px;
  font-size: 8pt;
}

.post .entry-content{
  margin-top: 10px;
  font-family: courier;
  text-align: justify;
  width: 500px;
}

.post .entry-content p{
  margin-bottom; 
}


.widget.lfe_widget{
  overflow: hidden;
}

.lfe_widget h3{
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.lfe_widget li.vevent{
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 9pt;
}

.lfe_widget .lastfm-profile{
  float: right;
  font-size: 9pt;
  margin-right: 5px;
}

.sidebar#secondary{
  font-size: 9pt;
}

.sidebar#secondary{
  font-size: 9pt;
}

.sidebar#secondary ul.xoxo > li{
  margin-top: 10px;
}

.sidebar#secondary ul.xoxo > li li{
  padding-left: 5px;
}


